.stuntxt{
    font-size: 60px; font-weight: 600; line-height: 1.2em; font-weight: 700;
}
.dot{
    background-color: #5243C0; width: 12px;
    height: 12px;
    display: inline-block;
}
.stuntxtp{
    padding: 20px 0px;
    font-size: 20px;
    color: #6A6665;
    font-weight: 600;
}
.newaccount{
    background-color: #5243C0;
    padding: 20px 30px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    border-radius: 10px; margin-right: 12px; cursor: pointer;
}
.spc{
    margin-right: 12px;
}
.btnwrap{
    margin-bottom: 80px;
}
.margtbot{
    margin: 20px 0px 30px;
}